extends /templates/_app

block config
  - const _PATH = "./"
  - const _PAGENAME = "home"

block meta
  +meta({
    title: "ミッドセンチュリー家具ブランド｜TIME｜Japan",
    description: "『TIME-タイム-』は、20世紀半ば、いわゆるミッドセンチュリーテイストデザインのシリーズです。すべて日本国内で製造し、つくり手の卓越された技術によって、耐久性をもたせ、何世代にも渡り楽しんでいただける、高品質な家具です。",
  })

block content
  include /components/include/_header
  include /components/include/_openNav

  div.mv.swiper-container.u_anime-fade(data-slider="mvSlider" data-anime="addClass")
    div.mv_list.swiper-wrapper
      div.mv_list-item.swiper-slide
        +img(`${_RESOURCES}assets/images/index/mv_1.jpg`, `time`)
      div.mv_list-item.swiper-slide
        +img(`${_RESOURCES}assets/images/index/mv_2.jpg`, `time`)
      div.mv_list-item.swiper-slide
        +img(`${_RESOURCES}assets/images/index/mv_3.jpg`, `time`)
      div.mv_list-item.swiper-slide
        +img(`${_RESOURCES}assets/images/index/mv_4.jpg`, `time`)
      div.mv_list-item.swiper-slide
        +img(`${_RESOURCES}assets/images/index/mv_5.jpg`, `time`)

  main(role="main")
    div.t_wrapper.u_bg.indexSwayley.t_flex
      div.indexSwayley_view.t_flex
        div.indexSwayley_title
          h2.indexSwayley_title-jp.u_letter-spacing200.u_weight600 時を超えるひととき
          p.indexSwayley_title-en.t_Roboto.u_weight500.u_letter-spacing50 Timeless Moments
        p.indexSwayley_name.t_Roboto.u_letter-spacing200.u_weight600 TIME
      div.indexSwayley_scroll.t_flex
        p.indexSwayley_scroll-text.u_weight500.u_letter-spacing50.t_Roboto Scroll Down
        span.indexSwayley_scroll-line
    div.indexStory#Concept
      div.p_background.t_wrapper.indexStory_wrapper
        div.p_background-wrapper
          h2.indexStory_title.t_RobotoSlab.u_letter-spacing100.u_weight100.u_anime-fadeUp(data-anime="addClass") Concept
          h3.indexStory_headline.u_letter-spacing200.u_anime-fadeUp.u_weight600(data-anime="addClass")
            span
              |半世紀の時を感じ、
              br.u_md
              |時を超える
              br.u_md
              |⾄福の時間の創造
          div.indexStory_text.u_lineHeightLarge.u_letter-spacing150.u_anime-fadeUp(data-anime="addClass")
            | ファニチャーブランド『TIME-タイム-』は、
            br
            | 20世紀半ば（1940〜60年代）の、いわゆるミッドセンチュリーのデザインを踏襲し、
            br
            | 現代の製産技術で耐久性をもたせ、⻑い時間、何世代にも渡り楽しんでいただける、
            br
            | 時間軸デザイン（タイムアクシス・デザイン）の家具をご提案いたします。
    div.indexOffer
      div.indexOffer_images
        +img(`${_RESOURCES}assets/images/index/img_story_1.jpg`, `Story01`)
      div.p_background.t_wrapper.indexOffer_wrapper
        div.indexOffer_view.t_flex.p_background-wrapper
          div.indexOffer_contents
            h2.p_title.t_flex.u_letter-spacing50.u_anime-fadeUp(data-anime="addClass")
              span.p_title-name.u_weight600.t_Roboto TIME
              span.p_title-number.u_weight500.t_RobotoSlab Concept : 01
            section.p_section
              h3.p_section-title.u_lineHeight.u_letter-spacing150.u_weight600.u_anime-fadeUp(data-anime="addClass")
                | 時を感じる
                br
                | ミッドセンチュリーデザイン
              div.p_section-contents.u_lineHeight.u_anime-fadeUp(data-anime="addClass")
                p
                  | 『TIME』は20世紀半ば（1940〜60年代）、ミッドセンチュリーを感じさせるデザインブランドです。どこか懐かしく、あたたかさを感じる⾼級感。⽊の上質感。ツヤ感を表現し、幅広い世代に親しんでいただけるような設計です。
                  br
                  | ⾊や縫製などに⾄るまでこだわり、どの空間のインテリアにもあう、ビンテージでシンプルな飽きのこないデザインを⽬指しました。

    div.indexShape
      div.indexShape_body
        div.indexShape_images.t_flex
          div.indexShape_images-sub.u_anime-fadeUp(data-anime="addClass")
            +img(`${_RESOURCES}assets/images/index/img_story_2_sub_a.jpg`, `Story02`)
          div.indexShape_images-main.u_anime-fadeUp(data-anime="addClass")
            +img(`${_RESOURCES}assets/images/index/img_story_2.jpg`, `Story02`)
        div.p_background.t_wrapper.indexShape_wrapper
          div.indexShape_view.t_flex.p_background-wrapper
            div.indexShape_contents
              h2.p_title.t_flex.u_letter-spacing50.u_anime-fadeUp(data-anime="addClass")
                span.p_title-name.u_weight600.t_Roboto TIME
                span.p_title-number.u_weight500.t_RobotoSlab Concept : 02
              section.p_section
                h3.p_section-title.u_lineHeight.u_letter-spacing150.u_weight600.u_anime-fadeUp(data-anime="addClass")
                  | 時を超える
                  br
                  | ロングライフなデザイン
                div.p_section-contents.u_lineHeight.u_anime-fadeUp(data-anime="addClass")
                  p
                    | 『TIME』は何世代にも⻑期間に渡り、愛着をもって使⽤いただけるよう、三重県のウレタン⼯場の最⾼品質のウレタン技術を使⽤しています。
                    br
                    | グラつきがない重厚感ある『安定性』。くつろぎの時間を演出する『クッション性』。そして、⻑い間ヘタレがないウレタンと⽣地の『耐久性』。シンプルなデザインの中に様々な性能をもたせました。
                    br
                    | ユーザーと製品の間の『時間』を⼤切なものにし、現代の使い捨て社会にはない、未来をつくっていきましょう。

    div.indexSlider
      div.indexSlider_wrapper.t_wrapper(data-slider="gallery")
        div.indexSlider_gallery.swiper-wrapper
          div.indexSlider_gallery-list.swiper-slide
            +img(`${_RESOURCES}assets/images/index/img_slider_1.jpg`, `time`)
          div.indexSlider_gallery-list.swiper-slide
            +img(`${_RESOURCES}assets/images/index/img_slider_2.jpg`, `time`)
          div.indexSlider_gallery-list.swiper-slide
            +img(`${_RESOURCES}assets/images/index/img_slider_3.jpg`, `time`)
          div.indexSlider_gallery-list.swiper-slide
            +img(`${_RESOURCES}assets/images/index/img_slider_4.jpg`, `time`)
          div.indexSlider_gallery-list.swiper-slide
            +img(`${_RESOURCES}assets/images/index/img_slider_5.jpg`, `time`)

    div.p_lineup#Products
      div.t_wrapper
        h2.p_title.t_flex.u_letter-spacing50.p_title__top.u_anime-fadeUp(data-anime="addClass")
          span.p_title-name.p_title-name__large.u_weight500.t_RobotoSlab Products
          span.p_title-number.u_weight500.t_RobotoSlab 8 SERIES
        h3.p_headline.u_weight600.u_letter-spacing150.u_lineHeight.u_anime-fadeUp(data-anime="addClass")
          span 製品紹介
        p.u_letter-spacing100.t_RobotoSlab.u_weight500.p_productsTitle SOFA
        ul.p_gui.t_flex.t_Roboto(data-tab-target="products")
          li.p_gui-list.__isActive
            button(type="button").u_letter-spacing50.u_weight600
              span 3 seat sofa
          li.p_gui-list
            button(type="button").u_letter-spacing50.u_weight600
              span 2 seat sofa
          li.p_gui-list
            button(type="button").u_letter-spacing50.u_weight600
              span 1 seat sofa
          li.p_gui-list
            button(type="button").u_letter-spacing50.u_weight600
              span ottoman

      div.p_lineup-contets
        div.p_swichi(data-tab-contents="products")
          //3 seat sofa
          div.p_swichi-list
            section.p_subject
              div.t_inner
                h3.p_subject-title.u_weight600.u_letter-spacing100.t_Roboto 3 seat sofa
                div.p_subject-view.u_letter-spacing50.u_lineHeight
                  p
                    | 子供から大人まで、背丈に関係なく誰もがしっかりと座ることのできるスタンダードでちょうど良いサイズです。座面の幅は1680mmのコンパクトな3人掛けのソファ。
              div.p_slider
                div.p_slider-wrapper
                  div.p_slider-contets.t_inner.swiper-container(data-slider="lineup")
                    div.swiper-wrapper.p_slider-list
                      //スライド1
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_a_list_1.jpg`, `BEIGE`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 BEIGE
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 ベージュ
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_a_thumbnail_1.jpg`, `BEIGE`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | すこし黄みがかったナチュラルな色合い。
                              br
                              | 他の家具と調和しつつ、落ち着いたやさしい雰囲気に。


                      //スライド2
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_a_list_2.jpg`, `BEIGE`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 BEIGE
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 ベージュ
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_a_thumbnail_2.jpg`, `BEIGE`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | すこし黄みがかったナチュラルな色合い。
                              br
                              | 他の家具と調和しつつ、落ち着いたやさしい雰囲気に。


                      //スライド3
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_a_list_3.jpg`, `BEIGE`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 BEIGE
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 ベージュ
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_a_thumbnail_3.jpg`, `BEIGE`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | すこし黄みがかったナチュラルな色合い。
                              br
                              | 他の家具と調和しつつ、落ち着いたやさしい雰囲気に。


                    div.p_slider-option.t_flex
                      button(type="button" aria-label="戻る" data-slider-button="lineup-button-prev").p_slider-option-arrow.p_slider-option-arrow__prev
                        i.icon-arrow_left
                      div.p_slider-option-number.t_flex.t_Roboto.u_letter-spacing100(data-slider-pagination="lineup-pagination")
                      button(type="button" aria-label="進む" data-slider-button="lineup-button-next").p_slider-option-arrow.p_slider-option-arrow__next
                        i.icon-arrow_right

              div.p_spec
                div.t_wrapper.p_spec-wrapper.t_inner
                  p.p_spec-title.u_weight600.u_letter-spacing100.t_Roboto SPEC
                  ul.p_spec-item.u_lineHeight
                    li.p_spec-item-list
                      dl.t_flex
                        dt.u_letter-spacing50.u_weight500 Sofa
                        dd.u_letter-spacing50
                          | W1680×D700×H700 SH410mm
                          br
                          | 脚部：北海道産ミズナラ三等材無垢／オイル塗装
                          br
                          small ※肘パーツはオプション設定
                    li.p_spec-item-list
                      dl.t_flex
                        dt.u_letter-spacing50.u_weight500 fabric
                        dd.u_letter-spacing50 アクリル42%、ポリエステル39%、コットン19%（リサイクル糸47%）

            a.p_otherItem(href="#Products")
              span.p_otherItem-icon.t_flex
                i.icon-arrow_dawn
              span.p_otherItem-text.u_letter-spacing50 他のアイテムを見る

          //2 seat sofa
          div.p_swichi-list
            section.p_subject
              div.t_inner
                h3.p_subject-title.u_weight600.u_letter-spacing100.t_Roboto 2 seat sofa
                div.p_subject-view.u_letter-spacing50.u_lineHeight
                  p
                    | スタンダードな2人掛けのソファです。座り心地に優れ、ゆっくりとくつろぐことができます。
              div.p_slider
                div.p_slider-wrapper
                  div.p_slider-contets.t_inner.swiper-container(data-slider="lineup")
                    div.swiper-wrapper.p_slider-list
                      //スライド1
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_b_list_1.jpg`, `GREEN`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 GREEN
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 グリーン
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_b_thumbnail_1.jpg`, `GREEN`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | ヴィンテージな品のある色合いのグリーン。
                              br
                              | お部屋に映える印象的でハイセンスなワンポイントアイテムに。


                      //スライド2
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_b_list_3.jpg`, `GREEN`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 GREEN
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 グリーン
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_b_thumbnail_3.jpg`, `GREEN`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | ヴィンテージな品のある色合いのグリーン。
                              br
                              | お部屋に映える印象的でハイセンスなワンポイントアイテムに。


                      //スライド3
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_b_list_3.jpg`, `GREEN`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 GREEN
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 グリーン
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_b_thumbnail_3.jpg`, `BEIGE`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | ヴィンテージな品のある色合いのグリーン。
                              br
                              | お部屋に映える印象的でハイセンスなワンポイントアイテムに。


                    div.p_slider-option.t_flex
                      button(type="button" aria-label="戻る" data-slider-button="lineup-button-prev").p_slider-option-arrow.p_slider-option-arrow__prev
                        i.icon-arrow_left
                      div.p_slider-option-number.t_flex.t_Roboto.u_letter-spacing100(data-slider-pagination="lineup-pagination")
                      button(type="button" aria-label="進む" data-slider-button="lineup-button-next").p_slider-option-arrow.p_slider-option-arrow__next
                        i.icon-arrow_right

              div.p_spec
                div.t_wrapper.p_spec-wrapper.t_inner
                  p.p_spec-title.u_weight600.u_letter-spacing100.t_Roboto SPEC
                  ul.p_spec-item.u_lineHeight
                    li.p_spec-item-list
                      dl.t_flex
                        dt.u_letter-spacing50.u_weight500 Sofa
                        dd.u_letter-spacing50
                          | W1380×D700×H700 SH410mm
                          br
                          | 脚部：北海道産ミズナラ三等材無垢／オイル塗装
                          br
                          small ※肘パーツはオプション設定
                    li.p_spec-item-list
                      dl.t_flex
                        dt.u_letter-spacing50.u_weight500 fabric
                        dd.u_letter-spacing50 アクリル42%、ポリエステル39%、コットン19%（リサイクル糸47%）

            a.p_otherItem(href="#Lineup")
              span.p_otherItem-icon.t_flex
                i.icon-arrow_dawn
              span.p_otherItem-text.u_letter-spacing50 他のアイテムを見る



          //1 seat sofa
          div.p_swichi-list
            section.p_subject
              div.t_inner
                h3.p_subject-title.u_weight600.u_letter-spacing100.t_Roboto 1 seat sofa
                div.p_subject-view.u_letter-spacing50.u_lineHeight
                  p
                    | 1人掛けですが窮屈にならないよう1.5人掛けの幅で設計しました。大人の方でもゆったりとくつろげるサイズです。
              div.p_slider
                div.p_slider-wrapper
                  div.p_slider-contets.t_inner.swiper-container(data-slider="lineup")
                    div.swiper-wrapper.p_slider-list
                      //スライド1
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_c_list_1.jpg`, `blue`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 BLUE
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 ブルー
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_c_thumbnail_1.jpg`, `BLUE`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | ブルーデニムのヴィンテージなインディゴの色合い。
                              br
                              | 懐かしい表情とモダンでレトロな演出で、リビングの主役に。


                      //スライド2
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_c_list_2.jpg`, `BLUE`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 BLUE
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 ブルー
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_b_thumbnail_2.jpg`, `BLUE`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | ブルーデニムのヴィンテージなインディゴの色合い。
                              br
                              | 懐かしい表情とモダンでレトロな演出で、リビングの主役に。


                      //スライド3
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_c_list_3.jpg`, `BLUE`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 BLUE
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 ブルー
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_c_thumbnail_3.jpg`, `ブルー`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | ブルーデニムのヴィンテージなインディゴの色合い。
                              br
                              | 懐かしい表情とモダンでレトロな演出で、リビングの主役に。


                    div.p_slider-option.t_flex
                      button(type="button" aria-label="戻る" data-slider-button="lineup-button-prev").p_slider-option-arrow.p_slider-option-arrow__prev
                        i.icon-arrow_left
                      div.p_slider-option-number.t_flex.t_Roboto.u_letter-spacing100(data-slider-pagination="lineup-pagination")
                      button(type="button" aria-label="進む" data-slider-button="lineup-button-next").p_slider-option-arrow.p_slider-option-arrow__next
                        i.icon-arrow_right

              div.p_spec
                div.t_wrapper.p_spec-wrapper.t_inner
                  p.p_spec-title.u_weight600.u_letter-spacing100.t_Roboto SPEC
                  ul.p_spec-item.u_lineHeight
                    li.p_spec-item-list
                      dl.t_flex
                        dt.u_letter-spacing50.u_weight500 Sofa
                        dd.u_letter-spacing50
                          | W1380×D700×H700 SH410mm
                          br
                          | 脚部：北海道産ミズナラ三等材無垢／オイル塗装
                          br
                          small ※肘パーツはオプション設定
                    li.p_spec-item-list
                      dl.t_flex
                        dt.u_letter-spacing50.u_weight500 fabric
                        dd.u_letter-spacing50 アクリル42%、ポリエステル39%、コットン19%（リサイクル糸47%）

            a.p_otherItem(href="#Lineup")
              span.p_otherItem-icon.t_flex
                i.icon-arrow_dawn
              span.p_otherItem-text.u_letter-spacing50 他のアイテムを見る




          //Ottoman
          div.p_swichi-list
            section.p_subject
              div.t_inner
                h3.p_subject-title.u_weight600.u_letter-spacing100.t_Roboto Ottoman
                div.p_subject-view.u_letter-spacing50.u_lineHeight
                  p
                    | 一人で座る場合は、1seat SOFAとセットで足を投げ出したり、来客で椅子が必要になった場面でも活躍してくれます。
              div.p_slider
                div.p_slider-wrapper
                  div.p_slider-contets.t_inner.swiper-container(data-slider="lineup")
                    div.swiper-wrapper.p_slider-list
                      //スライド1
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_d_list_1.jpg`, `BLUE`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 BLUE
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 ブルー
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_d_thumbnail_1.jpg`, `BLUE`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | すこし黄みがかったナチュラルな色合い。
                              br
                              | 他の家具と調和しつつ、落ち着いたやさしい雰囲気に。


                      //スライド2
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_d_list_2.jpg`, `BLUE`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 BLUE
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 ブルー
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_b_thumbnail_3.jpg`, `BLUE`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | すこし黄みがかったナチュラルな色合い。
                              br
                              | 他の家具と調和しつつ、落ち着いたやさしい雰囲気に。


                      //スライド3
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_d_list_3.jpg`, `BLUE`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 BLUE
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 ブルー
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_d_thumbnail_3.jpg`, `ブルー`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | すこし黄みがかったナチュラルな色合い。
                              br
                              | 他の家具と調和しつつ、落ち着いたやさしい雰囲気に。


                    div.p_slider-option.t_flex
                      button(type="button" aria-label="戻る" data-slider-button="lineup-button-prev").p_slider-option-arrow.p_slider-option-arrow__prev
                        i.icon-arrow_left
                      div.p_slider-option-number.t_flex.t_Roboto.u_letter-spacing100(data-slider-pagination="lineup-pagination")
                      button(type="button" aria-label="進む" data-slider-button="lineup-button-next").p_slider-option-arrow.p_slider-option-arrow__next
                        i.icon-arrow_right

              div.p_spec
                div.t_wrapper.p_spec-wrapper.t_inner
                  p.p_spec-title.u_weight600.u_letter-spacing100.t_Roboto SPEC
                  ul.p_spec-item.u_lineHeight
                    li.p_spec-item-list
                      dl.t_flex
                        dt.u_letter-spacing50.u_weight500 Sofa
                        dd.u_letter-spacing50
                          | W1380×D700×H700 SH410mm
                          br
                          | 脚部：北海道産ミズナラ三等材無垢／オイル塗装
                          br
                          small ※肘パーツはオプション設定
                    li.p_spec-item-list
                      dl.t_flex
                        dt.u_letter-spacing50.u_weight500 fabric
                        dd.u_letter-spacing50 アクリル42%、ポリエステル39%、コットン19%（リサイクル糸47%）

            a.p_otherItem(href="#Lineup")
              span.p_otherItem-icon.t_flex
                i.icon-arrow_dawn
              span.p_otherItem-text.u_letter-spacing50 他のアイテムを見る



    div.p_lineup#Interior
      div.t_wrapper
        p.u_letter-spacing100.t_RobotoSlab.u_weight500.p_productsTitle INTERIOR
        ul.p_gui.t_flex.t_Roboto.p_gui__three(data-tab-target="item")
          li.p_gui-list.__isActive
            button(type="button").u_letter-spacing50.u_weight600
              span cafe table
          li.p_gui-list
            button(type="button").u_letter-spacing50.u_weight600
              span living table
          li.p_gui-list
            button(type="button").u_letter-spacing50.u_weight600
              span tv140 board
          li.p_gui-list
            button(type="button").u_letter-spacing50.u_weight600
              span shelf 70
          li.p_gui-list
            button(type="button").u_letter-spacing50.u_weight600
              span stool
      div.p_swichi.p_lineup-contets(data-tab-contents="item")
        //CAFÉ table
        div.p_swichi-list
          section.p_subject
            div.t_inner
              h3.p_subject-title.u_weight600.u_letter-spacing50.t_Roboto cafe table
              div.p_subject-view.u_letter-spacing50.u_lineHeight
                p
                  |リビングで過ごす時間にカフェを楽しむ時間にちょうど良いアイテムです。棚板も完備されているのでPCを置いて、リモートワークでも疲れにくい使い勝手の良いサイズです。
          div.p_thumbnailTabs
            div.t_inner.p_thumbnailTabs-body
              ul.p_thumbnailTabs-list(data-tab-target="item-sub")
                li.p_thumbnailTabs-list-item.__isActive
                  button(type="button" aria-label="単品写真")
                    +img(`${_RESOURCES}assets/images/index/img_table_a_list_1.jpg`, `SOFA TABLE`)
                li.p_thumbnailTabs-list-item
                  button(type="button" aria-label="ヨリ1")
                    +img(`${_RESOURCES}assets/images/index/img_table_a_list_2.jpg`, `SOFA TABLE`)
                li.p_thumbnailTabs-list-item
                  button(type="button" aria-label="ヨリ2")
                    +img(`${_RESOURCES}assets/images/index/img_table_a_list_3.jpg`, `SOFA TABLE`)

              div.p_thumbnailTabs-contents(data-tab-contents="item-sub")
                div.p_thumbnailTabs-images
                  +img(`${_RESOURCES}assets/images/index/img_table_a_list_1.jpg`, `SOFA TABLE`)
                div.p_thumbnailTabs-images
                  +img(`${_RESOURCES}assets/images/index/img_table_a_list_2.jpg`, `SOFA TABLE`)
                div.p_thumbnailTabs-images
                  +img(`${_RESOURCES}assets/images/index/img_table_a_list_3.jpg`, `SOFA TABLE`)
          div.p_spec
            div.t_wrapper.p_spec-wrapper.t_inner
              p.p_spec-title.u_weight400.u_letter-spacing100.t_Roboto SPEC
              ul.p_spec-item
                li.p_spec-item-list
                    p.u_letter-spacing50.u_lineHeight
                      |W1100×D550×H560
                      br
                      small 北海道産ミズナラ三等材無垢／オイル塗装

        //living table
        div.p_swichi-list
          section.p_subject
            div.t_inner
              h3.p_subject-title.u_weight600.u_letter-spacing50.t_Roboto living table
              div.p_subject-view.u_letter-spacing50.u_lineHeight
                p
                  | 独自のR曲線からなる形状と丸みを帯びた面により、活動的な動線の中において、家具との接触など  和らげてくれるのもこのアイテムの特徴です。
          div.p_thumbnailTabs
            div.t_inner.p_thumbnailTabs-body
              ul.p_thumbnailTabs-list(data-tab-target="item-sub")
                li.p_thumbnailTabs-list-item.__isActive
                  button(type="button" aria-label="単品写真")
                    +img(`${_RESOURCES}assets/images/index/img_table_b_list_1.jpg`, `living table`)
                li.p_thumbnailTabs-list-item
                  button(type="button" aria-label="ヨリ1")
                    +img(`${_RESOURCES}assets/images/index/img_table_b_list_2.jpg`, `living table`)
                li.p_thumbnailTabs-list-item
                  button(type="button" aria-label="ヨリ2")
                    +img(`${_RESOURCES}assets/images/index/img_table_b_list_3.jpg`, `living table`)

              div.p_thumbnailTabs-contents(data-tab-contents="item-sub")
                div.p_thumbnailTabs-images
                  +img(`${_RESOURCES}assets/images/index/img_table_b_list_1.jpg`, `living table`)
                div.p_thumbnailTabs-images
                  +img(`${_RESOURCES}assets/images/index/img_table_b_list_2.jpg`, `living table`)
                div.p_thumbnailTabs-images
                  +img(`${_RESOURCES}assets/images/index/img_table_b_list_3.jpg`, `living table`)
          div.p_spec
            div.t_wrapper.p_spec-wrapper.t_inner
              p.p_spec-title.u_weight400.u_letter-spacing100.t_Roboto SPEC
              ul.p_spec-item
                li.p_spec-item-list
                  p.u_letter-spacing50.u_lineHeight
                    | W1100×D550×H410
                    br
                    small 北海道産ミズナラ三等材無垢／オイル塗装

        //tv140 board
        div.p_swichi-list
          section.p_subject
            div.t_inner
              h3.p_subject-title.u_weight600.u_letter-spacing50.t_Roboto tv140 board
              div.p_subject-view.u_letter-spacing50.u_lineHeight
                p
                  | コンパクトなサイズですがしっかり大型のTV設置ができます。扉が引き戸式になっているので、ボードの前に移動しての整理などが便利です。脚部の高さもスタイリッシュに確保されていますので、電動掃除機などでの清掃もスムーズです。
          div.p_thumbnailTabs
            div.t_inner.p_thumbnailTabs-body
              ul.p_thumbnailTabs-list(data-tab-target="item-sub")
                li.p_thumbnailTabs-list-item.__isActive
                  button(type="button" aria-label="単品写真")
                    +img(`${_RESOURCES}assets/images/index/img_table_c_list_1.jpg`, `tv140 board`)
                li.p_thumbnailTabs-list-item
                  button(type="button" aria-label="ヨリ1")
                    +img(`${_RESOURCES}assets/images/index/img_table_c_list_2.jpg`, `tv140 board`)
                li.p_thumbnailTabs-list-item
                  button(type="button" aria-label="ヨリ2")
                    +img(`${_RESOURCES}assets/images/index/img_table_c_list_3.jpg`, `tv140 board`)

              div.p_thumbnailTabs-contents(data-tab-contents="item-sub")
                div.p_thumbnailTabs-images
                  +img(`${_RESOURCES}assets/images/index/img_table_c_list_1.jpg`, `tv140 board`)
                div.p_thumbnailTabs-images
                  +img(`${_RESOURCES}assets/images/index/img_table_c_list_2.jpg`, `tv140 board`)
                div.p_thumbnailTabs-images
                  +img(`${_RESOURCES}assets/images/index/img_table_c_list_3.jpg`, `tv140 board`)
          div.p_spec
            div.t_wrapper.p_spec-wrapper.t_inner
              p.p_spec-title.u_weight400.u_letter-spacing100.t_Roboto SPEC
              ul.p_spec-item
                li.p_spec-item-list
                  p.u_letter-spacing50.u_lineHeight
                    | W1400×D380×H430
                    br
                    small 北海道産ミズナラ三等材無垢／オイル塗装

        //shelf 70
        div.p_swichi-list
          section.p_subject
            div.t_inner
              h3.p_subject-title.u_weight600.u_letter-spacing50.t_Roboto shelf 70
              div.p_subject-view.u_letter-spacing50.u_lineHeight
                p
                  | 部屋のどのスペースにおいても活躍できるのがこのスタイリッシュなシェルフです。本や小物、シェルフ空間が空洞なので、グリーンなどを置いてハイセンスなインテリアに。
          div.p_thumbnailTabs
            div.t_inner.p_thumbnailTabs-body
              ul.p_thumbnailTabs-list(data-tab-target="item-sub")
                li.p_thumbnailTabs-list-item.__isActive
                  button(type="button" aria-label="単品写真")
                    +img(`${_RESOURCES}assets/images/index/img_table_d_list_1.jpg`, `shelf 70`)
                li.p_thumbnailTabs-list-item
                  button(type="button" aria-label="ヨリ1")
                    +img(`${_RESOURCES}assets/images/index/img_table_d_list_2.jpg`, `shelf 70`)
                li.p_thumbnailTabs-list-item
                  button(type="button" aria-label="ヨリ2")
                    +img(`${_RESOURCES}assets/images/index/img_table_d_list_3.jpg`, `shelf 70`)

              div.p_thumbnailTabs-contents(data-tab-contents="item-sub")
                div.p_thumbnailTabs-images
                  +img(`${_RESOURCES}assets/images/index/img_table_d_list_1.jpg`, `shelf 70`)
                div.p_thumbnailTabs-images
                  +img(`${_RESOURCES}assets/images/index/img_table_d_list_2.jpg`, `shelf 70`)
                div.p_thumbnailTabs-images
                  +img(`${_RESOURCES}assets/images/index/img_table_d_list_3.jpg`, `shelf 70`)
          div.p_spec
            div.t_wrapper.p_spec-wrapper.t_inner
              p.p_spec-title.u_weight400.u_letter-spacing100.t_Roboto SPEC
              ul.p_spec-item
                li.p_spec-item-list
                  p.u_letter-spacing50.u_lineHeight
                    | W700×D380×H1120
                    br
                    small 北海道産ミズナラ三等材無垢／オイル塗装

        //stool
        div.p_swichi-list
          section.p_subject
            div.t_inner
              h3.p_subject-title.u_weight600.u_letter-spacing50.t_Roboto stool
              div.p_subject-view.u_letter-spacing50.u_lineHeight
                p
                  | 軽くて持ち運びしやすいため、場所を選ばず、気楽に座って使えるスツールです。しっかり安定感のある安心安全な設計で、時にはソファの横に置くサイドテーブルとしても、フラワースタンドとしても使えます。
          div.p_thumbnailTabs
            div.t_inner.p_thumbnailTabs-body
              ul.p_thumbnailTabs-list(data-tab-target="item-sub")
                li.p_thumbnailTabs-list-item.__isActive
                  button(type="button" aria-label="単品写真")
                    +img(`${_RESOURCES}assets/images/index/img_table_e_list_1.jpg`, `stool`)
                li.p_thumbnailTabs-list-item
                  button(type="button" aria-label="ヨリ1")
                    +img(`${_RESOURCES}assets/images/index/img_table_e_list_2.jpg`, `stool`)
                li.p_thumbnailTabs-list-item
                  button(type="button" aria-label="ヨリ2")
                    +img(`${_RESOURCES}assets/images/index/img_table_e_list_3.jpg`, `stool`)

              div.p_thumbnailTabs-contents(data-tab-contents="item-sub")
                div.p_thumbnailTabs-images
                  +img(`${_RESOURCES}assets/images/index/img_table_e_list_1.jpg`, `stool`)
                div.p_thumbnailTabs-images
                  +img(`${_RESOURCES}assets/images/index/img_table_e_list_2.jpg`, `stool`)
                div.p_thumbnailTabs-images
                  +img(`${_RESOURCES}assets/images/index/img_table_e_list_3.jpg`, `stool`)
          div.p_spec
            div.t_wrapper.p_spec-wrapper.t_inner
              p.p_spec-title.u_weight400.u_letter-spacing100.t_Roboto SPEC
              ul.p_spec-item
                li.p_spec-item-list
                  p.u_letter-spacing50.u_lineHeight
                    | W347×D337×H510
                    br
                    small 北海道産ミズナラ三等材無垢／オイル塗装

      a.p_otherItem(href="#Interior")
        span.p_otherItem-icon.t_flex
          i.icon-arrow_dawn
        span.p_otherItem-text.u_letter-spacing50 他のアイテムを見る

    ul.p_gallery.t_flex
      li.p_gallery-list
        +img(`${_RESOURCES}assets/images/index/img_gallery_a_list_1.jpg`, `time`)
      li.p_gallery-list
        +img(`${_RESOURCES}assets/images/index/img_gallery_a_list_2.jpg`, `time`)

    div.indexInnovation#Functions
      div.t_wrapper
        h2.p_title.t_flex.p_title__top.u_anime-fadeUp(data-anime="addClass")
          span.p_title-name.p_title-name__large.u_weight400.t_RobotoSlab.u_letter-spacing100 Functions
          span.p_title-number.u_weight500.t_Roboto.u_letter-spacing100 6 Features
        h3.p_headline.u_weight600.u_letter-spacing150.u_lineHeight.u_anime-fadeUp(data-anime="addClass")
          span
            | TIMEの特徴
        ul.p_tabs.t_flex.u_weight400.u_anime-fadeUp(data-tab-target="innovation" data-anime="addClass")
          li.p_tabs-list.__isActive
            button(type="button") デザイン性
          li.p_tabs-list
            button(type="button") 木材のこだわり
          li.p_tabs-list
            button(type="button") 木製品の生産地
          li.p_tabs-list
            button(type="button") 座り心地
          li.p_tabs-list
            button(type="button") 生地のこだわり
          li.p_tabs-list
            button(type="button") 国内製の品質


        div.p_swichi(data-tab-contents="innovation")
          div.p_swichi-list
            section.p_innovation.t_flex
              div.p_innovation-header.t_flex
                div.p_innovation-header-name.u_anime-fadeUp(data-anime="addClass")
                  span.p_innovation-header-name-text.u_vertical.u_letter-spacing100.t_Roboto.u_weight500 Functions
                  span.p_innovation-header-name-number.t_Roboto 1
                h2.u_weight600.u_vertical.p_innovation-header-title.u_letter-spacing150.u_anime-fadeUp(data-anime="addClass")
                  |どこか懐かしい
                  br.u_md
                  |ミッドセンチュリーのぬくもり。
              div.p_innovation-contents
                div.p_innovation-contents-images
                  figure.u_anime-fadeUp(data-anime="addClass")
                    +img(`${_RESOURCES}assets/images/index/img_innovation_list_1.jpg`, `『ちょっと座ってみて』と勧めたくなる最高の座り心地`)
                div.p_definition.u_anime-fadeUp(data-anime="addClass")
                  dl
                    dt
                      p.u_weight600.u_letter-spacing150
                        | シンプルに。上質に。
                        br.u_md
                        |どの世代にも親和性のあるデザイン。
                    dd.u_lineHeight.u_weight500
                      |20世紀半ば（1940～60年代）のミッドセンチュリーデザインには、その時代を生きた人のライフスタイルを感じさせる懐かしさやぬくもりがあります。自由で斬新な雰囲気をもちあわせながら、ハイセンスなレトロフューチャーなライフスタイルを演出します。
                  dl
                    dt.t_flex
                      p.u_weight600.u_letter-spacing150
                        | どの空間にも馴染む装い。
                    dd.u_lineHeight.u_weight500
                      | ご自宅でも、オフィスでも。様々なインテリアや空間に馴染む親和性。ハイセンスなおもてなしの空間を、シンプルなシルエットで品よく演出します。


          div.p_swichi-list
            section.p_innovation.t_flex
              div.p_innovation-header.t_flex
                div.p_innovation-header-name
                  span.p_innovation-header-name-text.u_vertical.u_letter-spacing100.t_Roboto.u_weight500 Functions
                  span.p_innovation-header-name-number.t_Roboto 2
                h2.u_weight600.u_vertical.p_innovation-header-title.u_letter-spacing150
                  | 材質にも環境配慮にも、できる限りのこだわりを。
              div.p_innovation-contents
                div.p_innovation-contents-images
                  figure
                    +img(`${_RESOURCES}assets/images/index/img_innovation_list_2.jpg`, `材質にも環境配慮にも、できる限りのこだわりを。`)
                div.p_definition
                  dl
                    dt
                      p.u_weight600.u_letter-spacing150
                        | 北海道の銘木、ミズナラの木材を使用。
                    dd.u_lineHeight.u_weight500
                      div
                        |TIMEの木製のアイテムや部材は、環境への配慮を考え、北海道産の択伐（自然保護のために計画的に伐採）されたミズナラの木を使用しています。ミズナラの木は、希少価値が高く、ウイスキーなどの樽材にも使われ、寒くて水気の多いところに生育する木材で、1/fゆらぎの木目※1、トラフ※2が特徴です。古くからもミズナラ素材の価値は高く、人気の高い木材は、さまざまなインテリア空間に合わせやすいのが特徴です。最近ではウッドショックの世界情勢も重なり、国内の資材においても入手困難になってきています。世界的にはオークの呼び名で木材の王様とも言われ、最高級の家具にも使われる木材です。

                      small.u_letter-spacing50
                        | ※1：1/fゆらぎの木目とは、自然界が創り出す波長。人間にとって心地よいとされる波長は木の木目に現れています。
                        br
                        | ※2：トラフとは、木目の中に虎の毛のように見える希少価値の高いところを指します。

          div.p_swichi-list
            section.p_innovation.t_flex
              div.p_innovation-header.t_flex
                div.p_innovation-header-name
                  span.p_innovation-header-name-text.u_vertical.u_letter-spacing100.t_Roboto.u_weight500 Functions
                  span.p_innovation-header-name-number.t_Roboto 3
                h2.u_weight600.u_vertical.p_innovation-header-title.u_letter-spacing150
                  | メイドイン 瀬戸内。香川の家具職人がつくる木製のアイテム。
              div.p_innovation-contents
                div.p_innovation-contents-images
                  figure
                    +img(`${_RESOURCES}assets/images/index/img_innovation_list_3.jpg`, `メイドイン 瀬戸内。香川の家具職人がつくる木製のアイテム。`)
                div.p_definition
                  dl
                    dt
                      p.u_weight600.u_letter-spacing150
                        | 昭和元年創業。香川県高松市の家具工場で生産。
                    dd.u_lineHeight.u_weight500
                      |木製アイテムは瀬戸内海に面した四国、高松の小規模な工場でつくられます。家具の製造一筋に行ってきた工場は昭和元年に生まれ、100年近くの間技術を伝承、特にコタツを中心につくられてきました。最近ではウッドショック、環境に対する配慮、世界情勢の流れもあり、海外に流れていた家具の生産が国内に戻ってきました。高松の工場には、職人が日夜家具をつくり続け、お客様のもとへ喜んでいただける製品を届けたいと考えています。TIMEに込められた職人の想いが皆様に届けば幸いです。

          div.p_swichi-list
            section.p_innovation.t_flex
              div.p_innovation-header.t_flex
                div.p_innovation-header-name
                  span.p_innovation-header-name-text.u_vertical.u_letter-spacing100.t_Roboto.u_weight500 Functions
                  span.p_innovation-header-name-number.t_Roboto 4
                h2.u_weight600.u_vertical.p_innovation-header-title.u_letter-spacing150
                  |高品質ウレタンを使用した、時を忘れる座り心地。
              div.p_innovation-contents
                div.p_innovation-contents-images
                  figure
                    +img(`${_RESOURCES}assets/images/index/img_innovation_list_4.jpg`, `高品質ウレタンを使用した、時を忘れる座り心地。`)
                div.p_definition
                  dl
                    dt
                      p.u_weight600.u_letter-spacing150
                        | 最上級のウレタンで実現。理想の座り心地が続くロングライフ。
                    dd.u_lineHeight.u_weight500
                      | TIMEのソファの上質な座り心地と、長い間ヘタらないロングライフのソファを実現しているのは、創業から長きにわたりクッション資材を製造・販売。有名家具ブランドや有名リゾートホテルにも製品を提供しつづけている、三重県のウレタン加工工場でつくられている高品質ウレタンです。ソファの座り心地やカラダにかかる負荷は、ウレタンの品質によって左右されます。TIMEのソファには、耐久性・体圧分散性に優れた高級ソファにも使われる最上級品質のウレタンを使用し、ふっくらと心地よくもしっかりとカラダを支える座り心地を実現しています。

          div.p_swichi-list
            section.p_innovation.t_flex
              div.p_innovation-header.t_flex
                div.p_innovation-header-name
                  span.p_innovation-header-name-text.u_vertical.u_letter-spacing100.t_Roboto.u_weight500 Functions
                  span.p_innovation-header-name-number.t_Roboto 5
                h2.u_weight600.u_vertical.p_innovation-header-title.u_letter-spacing150
                  | サスティナブル生地は、モノを大切にする日本の文化。
              div.p_innovation-contents
                div.p_innovation-contents-images
                  figure
                    +img(`${_RESOURCES}assets/images/index/img_innovation_list_5.jpg`, `サスティナブル生地は、モノを大切にする日本の文化。`)
                div.p_definition
                  dl
                    dt
                      p.u_weight600.u_letter-spacing150
                        | 環境に配慮したサスティナブル生地、反毛ワタ混リサイクル糸。
                    dd.u_lineHeight.u_weight500
                      | TIMEのソファ生地には、環境に配慮した素材『反毛ワタ混リサイクル糸』を使用しています。反毛ワタ混リサイクル糸は、愛知県三河地方で明治時代から続けられてきた技術をルーツとする、再生繊維を活用したリサイクル糸です。 反毛とは未使用のまま破棄される生地や、工場で発生する落ちワタ、はぎれなどを集めてもう一度ワタの状態に戻し、糸の原料を作る技術のことを言います。繊維が貴重だった戦後に発展し、現代も受け継がれている極めて優れたリサイクル産業です。 再生する際にエネルギーが過剰にかからず、廃棄物を減らすことができます。また既存の素材を再利用することで生産に必要な天然資源やエネルギーを節約し、繊維の寿命を延ばすことに繋がります。 モノを大切にする日本の文化とミッドセンチュリーデザインを融合させました。

          div.p_swichi-list
            section.p_innovation.t_flex
              div.p_innovation-header.t_flex
                div.p_innovation-header-name
                  span.p_innovation-header-name-text.u_vertical.u_letter-spacing100.t_Roboto.u_weight500 Functions
                  span.p_innovation-header-name-number.t_Roboto 6
                h2.u_weight600.u_vertical.p_innovation-header-title.u_letter-spacing150
                  | 国内製にこだわった、日本生まれの高品質家具。
              div.p_innovation-contents
                div.p_innovation-contents-images
                  figure
                    +img(`${_RESOURCES}assets/images/index/img_innovation_list_6.jpg`, `サスティナブル生地は、モノを大切にする日本の文化。`)
                div.p_definition
                  dl
                    dt
                      p.u_weight600.u_letter-spacing150
                        | 日本国内製の信頼の品質。
                    dd.u_lineHeight.u_weight500
                      | TIMEの家具を使う皆様のかけがえのない時間を、最もくつろげる良い時間。さらには、皆様の一番好きな時間にしていただけるよう、材料から生産まで、国内製にこだわりました。日本で生まれた材料、部材にこだわり、日本の職人の手で丈夫に、そして丁寧に作り上げました。確かな品質で、長い間劣化が少なく使用していただける、時間を超えた愛着のミッドセンチュリーデザイン家具です。

        a.p_otherItem(href="#Functions")
          span.p_otherItem-icon.t_flex
            i.icon-arrow_dawn
          span.p_otherItem-text.u_letter-spacing50 他の特徴を見る
    ul.p_gallery.t_flex
      li.p_gallery-list
        +img(`${_RESOURCES}assets/images/index/img_gallery_b_list_1.jpg`, `time`)
      li.p_gallery-list
        +img(`${_RESOURCES}assets/images/index/img_gallery_b_list_2.jpg`, `time`)
    div.indexSupport#Support
      div.t_wrapper
        h2.p_title.t_flex.u_letter-spacing50.t_Roboto.p_title__top.u_anime-fadeUp(data-anime="addClass")
          span.p_title-name.p_title-name__large.u_weight600 Support
          span.p_title-number.u_weight500 To Customers
        h3.p_headline.u_weight600.u_letter-spacing150.u_lineHeight.u_anime-fadeUp(data-anime="addClass")
          span TIMEを購⼊された⽅へ
        ul.p_gui.t_flex.p_gui__left(data-tab-target="support")
          li.p_gui-list.__isActive
            button(type="button").u_letter-spacing50.u_weight500
              span 取り扱い上の注意
          li.p_gui-list
            button(type="button").u_letter-spacing50.u_weight500
              span お⼿⼊れのしかた
        div.p_swichi.indexSupport_contets(data-tab-contents="support")
          div.p_swichi-list
            div.indexSupport_text.u_lineHeight
              p
                | ◎本製品は　家庭用に規格され製造された家具です。ご使用する際はお取り扱いに十分ご注意ください。業務用などでの使用については予め使用目的、条件などをご確認の上ご使用ください。
                br
                | ◎湿度の高い場所や濡れた状態でのご使用は、カビ、におい等の発生の原因になります。風通しをよくしてご使用ください。
                br
                | ◎本製品は無垢材を使用しています。 天然素材につき、木目や色などのばらつき、節なども含まれます。気温の変化やご使用方法によってはソリやワレが生じる場合もございます。予めご了承ください。
                br
                | ◎天板の上に立ったり、不安定な姿勢で使用しないでください。
                br
                | ◎踏み台の代わりとして使用すると、大変危険です。転倒しケガや破損の恐れがあります。
                br
                | ◎移動の際は押したり引いたり引きずることで床に傷がついたり、脚部等が破損するおそれがあります。周りの安全を確認の上、本製品を必ず持ちあげて移動してください。
                br
                | ◎床面に対する保護はお客様の管理責任としてください。床面への傷等が心配な場合は、フェルトなどを脚部に 取り付けてご使用ください。
                br
                | ◎本製品は平らな場所でご使用ください。傾斜、凹凸のある場所での使用は転倒しケガや破損の原因になります。
                br
                | ◎本製品はホルムアルデヒド等級の最上位規格を表す表示F☆☆☆☆基準にそってつくられていますが、開梱後はしばらくの間梱包材に含まれる匂いなどが残っている場合がございます。換気をし、風通しの良い場所でご使用ください。
                br
                | ◎接合部にゆるみがないか定期的に確認し、金具などを締め直してください。異常が見られた場合にはご使用を中止してください。
                br
                | ◎本製品の改造や不当な修理は絶対に行わないでください。

          div.p_swichi-list
            div.indexSupport_text.u_lineHeight
              p
                | ◎本製品のお手入れは、定期的に付着した埃などを取り払います。著しい汚れが付着した場合は、柔らかい布に中性洗剤を薄めた水を浸し、汚れを拭き取ったあと、乾いた布で拭き、十分に乾燥させてからご使用ください。 濡れたまま使用するとカビの発生や、変形、変色等の原因になります。


    div.indexConversion.u_anime-fadeUp(data-anime="addClass")
      div.t_wrapper
        p.indexConversion_text.u_letter-spacing150.u_weight500
          |お問い合わせは
          br.u_md
          |ご購⼊された店舗へお願いします。
    div.indexMvFooter
      div.indexMvFooter_images
        +img(`${_RESOURCES}assets/images/index/img_mv_footer.jpg`, `time`)
      div.t_center.indexMvFooter_logo
        <svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"     viewBox="0 0 90.5 40.7" style="enable-background:new 0 0 90.5 40.7;" xml:space="preserve"><path id="logo_00000119834467001253611890000008476220279490077058_" transform="translate(-228.614 -483.431)" class="st0" d="	M317.6,510.5h-0.2v-1.3h0.4c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0,0.1,0.1c0,0,0.1,0.1,0.1,0.1c0,0.1,0,0.1,0,0.2c0,0.1,0,0.2-0.1,0.2	c-0.1,0.1-0.1,0.1-0.2,0.1l0.4,0.6h-0.2l-0.3-0.6h-0.2V510.5z M317.6,509.8h0.2c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0	c0.1,0,0.1-0.1,0.1-0.2c0,0,0-0.1,0-0.1c0,0,0,0-0.1-0.1c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0h-0.2L317.6,509.8z M317.9,511.1	c-0.7,0-1.3-0.6-1.3-1.3s0.6-1.3,1.3-1.3c0.7,0,1.3,0.6,1.3,1.3l0,0C319.1,510.5,318.6,511.1,317.9,511.1z M317.9,508.8	c-0.6,0-1,0.5-1,1c0,0.6,0.5,1,1,1c0.6,0,1-0.5,1-1c0,0,0,0,0,0C318.9,509.3,318.4,508.8,317.9,508.8L317.9,508.8z M244,487.9h5v5	h-5V487.9z M245.5,523.4v0.7l-0.4,0c-0.3,0-0.6,0-0.9-0.2c-0.1-0.1-0.2-0.3-0.1-0.5v-2.1h-0.5v-0.6h0.5v-1h0.9v1h0.6v0.6h-0.6v1.8	c0,0.1,0,0.2,0.1,0.3c0.1,0,0.2,0.1,0.3,0.1H245.5L245.5,523.4z M247.1,519.4v0.8h-0.9v-0.8H247.1z M247.1,520.6v3.4h-0.9v-3.4	H247.1z M250,521.5c-0.1-0.2-0.3-0.3-0.4-0.2c-0.2,0-0.4,0.1-0.5,0.2c-0.1,0.1-0.1,0.3-0.1,0.4v2.1h-0.9v-3.4h0.9v0.5	c0.1-0.1,0.2-0.3,0.3-0.4c0.4-0.3,0.9-0.3,1.3,0c0.1,0.1,0.2,0.2,0.3,0.4c0.1-0.2,0.3-0.3,0.4-0.4c0.2-0.1,0.4-0.1,0.6-0.1	c0.2,0,0.3,0,0.4,0.1c0.3,0.1,0.5,0.4,0.6,0.7c0,0.2,0,0.3,0,0.5l0,2.1H252v-2.2c0-0.1,0-0.2-0.1-0.3c-0.1-0.2-0.3-0.3-0.4-0.2	c-0.2,0-0.4,0.1-0.5,0.3c-0.1,0.1-0.1,0.3-0.1,0.4v2h-0.9v-2C250.1,521.8,250.1,521.7,250,521.5z M256.8,523c0,0.2-0.1,0.4-0.3,0.6	c-0.3,0.3-0.8,0.5-1.2,0.5c-0.4,0-0.8-0.1-1.1-0.4c-0.4-0.4-0.5-0.9-0.5-1.4c0-0.5,0.1-1,0.4-1.4c0.3-0.3,0.7-0.5,1.2-0.5	c0.3,0,0.5,0.1,0.8,0.2c0.2,0.1,0.4,0.3,0.6,0.5c0.1,0.2,0.2,0.5,0.3,0.7c0,0.2,0,0.5,0,0.7h-2.3c0,0.3,0.1,0.5,0.3,0.7	c0.1,0.1,0.3,0.1,0.4,0.1c0.2,0,0.3,0,0.4-0.2c0.1-0.1,0.1-0.1,0.2-0.2L256.8,523z M255.9,522c0-0.2-0.1-0.4-0.2-0.5	c-0.1-0.1-0.3-0.2-0.5-0.2c-0.2,0-0.4,0.1-0.5,0.2c-0.1,0.2-0.2,0.3-0.2,0.5H255.9z M257.6,519.4h0.9v4.6h-0.9V519.4z M262.4,523	c0,0.2-0.1,0.4-0.3,0.6c-0.3,0.3-0.8,0.5-1.2,0.5c-0.4,0-0.8-0.1-1.1-0.4c-0.4-0.4-0.5-0.9-0.5-1.4c0-0.5,0.1-1,0.4-1.4	c0.3-0.3,0.7-0.5,1.2-0.5c0.3,0,0.5,0.1,0.8,0.2c0.2,0.1,0.4,0.3,0.6,0.5c0.1,0.2,0.2,0.5,0.3,0.7c0,0.2,0,0.5,0,0.7h-2.3	c0,0.3,0.1,0.5,0.3,0.7c0.1,0.1,0.3,0.1,0.4,0.1c0.2,0,0.3,0,0.4-0.2c0.1-0.1,0.1-0.1,0.2-0.2L262.4,523z M261.5,522	c0-0.2-0.1-0.4-0.2-0.5c-0.1-0.1-0.3-0.2-0.5-0.2c-0.2,0-0.4,0.1-0.5,0.2c-0.1,0.1-0.2,0.3-0.2,0.5H261.5z M265.6,520.7	c0.3,0.2,0.5,0.5,0.5,0.9h-0.9c0-0.1,0-0.2-0.1-0.3c-0.1-0.1-0.3-0.2-0.5-0.2c-0.1,0-0.3,0-0.4,0.1c-0.1,0-0.1,0.1-0.1,0.2	c0,0.1,0,0.2,0.1,0.2c0.3,0.1,0.6,0.2,0.9,0.2c0.3,0.1,0.6,0.2,0.8,0.4c0.2,0.2,0.3,0.4,0.3,0.6c0,0.3-0.1,0.6-0.4,0.8	c-0.7,0.4-1.6,0.4-2.4,0c-0.3-0.2-0.4-0.5-0.4-0.9h0.9c0,0.1,0,0.2,0.1,0.3c0.2,0.1,0.4,0.2,0.6,0.2c0.1,0,0.3,0,0.4-0.1	c0.1,0,0.2-0.1,0.2-0.2c0-0.1,0-0.2-0.1-0.2c-0.3-0.1-0.6-0.2-0.9-0.3c-0.3-0.1-0.6-0.2-0.8-0.4c-0.2-0.2-0.3-0.4-0.2-0.6	c0-0.3,0.1-0.6,0.4-0.8c0.3-0.2,0.7-0.4,1-0.3C264.9,520.5,265.2,520.6,265.6,520.7z M269.2,520.7c0.3,0.2,0.5,0.5,0.5,0.9h-0.9	c0-0.1,0-0.2-0.1-0.3c-0.1-0.1-0.3-0.2-0.5-0.2c-0.1,0-0.3,0-0.4,0.1c-0.1,0-0.1,0.1-0.1,0.2c0,0.1,0,0.2,0.1,0.2	c0.3,0.1,0.6,0.2,0.9,0.2c0.3,0.1,0.6,0.2,0.8,0.4c0.2,0.2,0.3,0.4,0.3,0.6c0,0.3-0.1,0.6-0.4,0.8c-0.7,0.4-1.6,0.4-2.4,0	c-0.3-0.2-0.4-0.5-0.4-0.9h0.9c0,0.1,0,0.2,0.1,0.3c0.2,0.1,0.4,0.2,0.6,0.2c0.1,0,0.3,0,0.4-0.1c0.1,0,0.2-0.1,0.2-0.2	c0-0.1,0-0.2-0.1-0.2c-0.3-0.1-0.6-0.2-0.9-0.3c-0.3-0.1-0.6-0.2-0.8-0.4c-0.2-0.2-0.3-0.4-0.2-0.6c0-0.3,0.1-0.6,0.4-0.8	c0.3-0.2,0.7-0.4,1-0.3C268.6,520.5,268.9,520.6,269.2,520.7z M274.4,521.5c-0.1-0.2-0.3-0.3-0.4-0.2c-0.2,0-0.4,0.1-0.5,0.2	c-0.1,0.1-0.1,0.3-0.1,0.4v2.1h-0.9v-3.4h0.9v0.5c0.1-0.1,0.2-0.3,0.3-0.4c0.4-0.3,0.9-0.3,1.3,0c0.1,0.1,0.2,0.2,0.3,0.4	c0.1-0.2,0.3-0.3,0.4-0.4c0.2-0.1,0.4-0.1,0.6-0.1c0.2,0,0.3,0,0.4,0.1c0.3,0.1,0.5,0.4,0.6,0.7c0,0.2,0,0.3,0,0.5l0,2.1h-0.9v-2.2	c0-0.1,0-0.2-0.1-0.3c-0.1-0.2-0.3-0.3-0.4-0.2c-0.2,0-0.4,0.1-0.5,0.3c-0.1,0.1-0.1,0.3-0.1,0.4v2h-0.9v-2	C274.5,521.8,274.5,521.7,274.4,521.5z M281.2,521c0.6,0.8,0.6,1.8,0,2.6c-0.7,0.7-1.9,0.7-2.6,0c-0.6-0.8-0.6-1.8,0-2.6	C279.3,520.3,280.4,520.3,281.2,521z M279.8,521.2c-0.2,0-0.5,0.1-0.6,0.3c-0.3,0.5-0.3,1.1,0,1.6c0.3,0.3,0.8,0.4,1.1,0.1	c0,0,0.1-0.1,0.1-0.1c0.3-0.5,0.3-1.1,0-1.6C280.3,521.3,280.1,521.2,279.8,521.2L279.8,521.2z M284.3,521.5	c-0.1-0.2-0.3-0.3-0.4-0.2c-0.2,0-0.4,0.1-0.5,0.2c-0.1,0.1-0.1,0.3-0.1,0.4v2.1h-0.9v-3.4h0.9v0.5c0.1-0.1,0.2-0.3,0.3-0.4	c0.4-0.3,0.9-0.3,1.3,0c0.1,0.1,0.2,0.2,0.3,0.4c0.1-0.2,0.3-0.3,0.4-0.4c0.2-0.1,0.4-0.1,0.6-0.1c0.2,0,0.3,0,0.4,0.1	c0.2,0.1,0.3,0.2,0.4,0.3c0.1,0.1,0.2,0.3,0.2,0.4c0,0.2,0,0.3,0,0.5l0,2.1h-0.9v-2.2c0-0.1,0-0.2-0.1-0.3c-0.1-0.2-0.3-0.3-0.4-0.2	c-0.2,0-0.4,0.1-0.5,0.3c-0.1,0.1-0.1,0.3-0.1,0.4v2h-0.9v-2C284.3,521.8,284.3,521.7,284.3,521.5z M291.1,523	c0,0.2-0.1,0.4-0.3,0.6c-0.3,0.3-0.8,0.5-1.2,0.5c-0.4,0-0.8-0.1-1.1-0.4c-0.4-0.4-0.5-0.9-0.5-1.4c0-0.5,0.1-1,0.4-1.4	c0.3-0.3,0.7-0.5,1.2-0.5c0.3,0,0.5,0.1,0.8,0.2c0.2,0.1,0.4,0.3,0.6,0.5c0.1,0.2,0.2,0.5,0.3,0.7c0,0.2,0,0.5,0,0.7h-2.3	c0,0.3,0.1,0.5,0.3,0.7c0.1,0.1,0.3,0.1,0.4,0.1c0.2,0,0.3,0,0.4-0.2c0.1-0.1,0.1-0.1,0.2-0.2L291.1,523z M290.2,522	c0-0.2-0.1-0.4-0.2-0.5c-0.1-0.1-0.3-0.2-0.5-0.2c-0.2,0-0.4,0.1-0.5,0.2c-0.1,0.1-0.2,0.3-0.2,0.5H290.2z M293.5,521.3	c-0.3,0-0.5,0.1-0.6,0.4c-0.1,0.2-0.1,0.3-0.1,0.5v1.8h-0.9v-3.4h0.9v0.5c0.1-0.1,0.2-0.3,0.3-0.4c0.2-0.1,0.5-0.2,0.7-0.2	c0.3,0,0.6,0.1,0.9,0.3c0.2,0.2,0.4,0.6,0.3,0.9v2.3H294v-2.1c0-0.1,0-0.3-0.1-0.4C293.9,521.3,293.7,521.2,293.5,521.3z	 M297.5,523.4v0.7l-0.4,0c-0.3,0-0.6,0-0.9-0.2c-0.1-0.1-0.2-0.3-0.1-0.5v-2.1h-0.5v-0.6h0.5v-1h0.9v1h0.6v0.6h-0.6v1.8	c0,0.1,0,0.2,0.1,0.3c0.1,0,0.2,0.1,0.3,0.1H297.5L297.5,523.4z M300.5,520.7c0.3,0.2,0.5,0.5,0.5,0.9h-0.9c0-0.1,0-0.2-0.1-0.3	c-0.1-0.1-0.3-0.2-0.5-0.2c-0.1,0-0.3,0-0.4,0.1c-0.1,0-0.1,0.1-0.1,0.2c0,0.1,0,0.2,0.1,0.2c0.3,0.1,0.6,0.2,0.9,0.2	c0.3,0.1,0.6,0.2,0.8,0.4c0.2,0.2,0.3,0.4,0.3,0.6c0,0.3-0.1,0.6-0.4,0.8c-0.7,0.4-1.6,0.4-2.4,0c-0.3-0.2-0.4-0.5-0.4-0.9h0.9	c0,0.1,0,0.2,0.1,0.3c0.2,0.1,0.4,0.2,0.6,0.2c0.1,0,0.3,0,0.4-0.1c0.1,0,0.2-0.1,0.2-0.2c0-0.1,0-0.2-0.1-0.2	c-0.3-0.1-0.6-0.2-0.9-0.3c-0.3-0.1-0.6-0.2-0.8-0.4c-0.2-0.2-0.3-0.4-0.2-0.6c0-0.3,0.1-0.6,0.4-0.8c0.3-0.2,0.7-0.4,1-0.3	C299.8,520.5,300.2,520.6,300.5,520.7z M233.6,483.4v5.1h4.1v4.4h-4.1v17.8h-5v-27.3H233.6z M258.8,490.4c1.7-1.6,4.1-2.5,6.5-2.3	c2.6-0.1,5.1,0.9,6.9,2.8c1.8-1.9,4.3-2.9,6.9-2.8c2.4-0.2,4.7,0.7,6.4,2.3c1.5,1.5,2.2,3.8,2.2,6.7v13.7h-5v-14.2	c0.1-2.2-1.7-4.1-3.9-4.2c-2.2-0.1-4.1,1.7-4.2,3.9c0,0.1,0,0.2,0,0.3v14.2h-5v-14.2c0.1-2.2-1.7-4.1-3.9-4.2	c-2.2-0.1-4.1,1.7-4.2,3.9c0,0.1,0,0.2,0,0.3v14.2h-5v-13.7C256.6,494.2,257.3,491.9,258.8,490.4z M314.2,507.3	c-1.1,1.3-2.4,2.3-3.9,3c-3.4,1.6-7.4,1.4-10.7-0.5c-1.8-1-3.2-2.5-4.3-4.3c-2.1-3.6-2.1-8,0-11.6c1-1.8,2.5-3.2,4.3-4.2	c3.5-2,7.8-2.1,11.3-0.1c1.8,1,3.3,2.4,4.4,4.1c1.1,1.9,1.7,4,1.7,6.2c0,0.5,0,1-0.1,1.5h-17.8c0.3,1.6,1.1,3,2.3,4	c2.1,1.9,5.2,2.1,7.5,0.5c1-0.7,1.9-1.7,2.3-2.9h5.3C316.1,504.6,315.3,506.1,314.2,507.3z M311.5,497.3c-0.4-1.3-1.2-2.5-2.3-3.4	c-1.1-0.8-2.4-1.3-3.7-1.3c-1.4,0-2.7,0.4-3.8,1.3c-1.1,0.9-2,2-2.4,3.4L311.5,497.3z M244,505.1h5v5h-5V505.1z"/></svg>

  include /components/include/_movie
  include /components/include/_footer