extends /templates/_app

block config
  - const _PATH = "./"
  - const _PAGENAME = "home"

block meta
  +meta({
    title: "ミッドセンチュリー家具ブランド｜TIME｜Japan",
    description: "『TIME-タイム-』は、20世紀半ば、いわゆるミッドセンチュリーテイストデザインのシリーズです。すべて日本国内で製造し、つくり手の卓越された技術によって、耐久性をもたせ、何世代にも渡り楽しんでいただける、高品質な家具です。",
  })

block content
  include /components/include/_header
  include /components/include/_openNav

  div.mv.swiper-container.u_anime-fade(data-slider="mvSlider" data-anime="addClass")
    div.mv_list.swiper-wrapper
      div.mv_list-item.swiper-slide
        +img(`${_RESOURCES}assets/images/index/mv_1.jpg`, `time`)
      div.mv_list-item.swiper-slide
        +img(`${_RESOURCES}assets/images/index/mv_2.jpg`, `time`)
      div.mv_list-item.swiper-slide
        +img(`${_RESOURCES}assets/images/index/mv_3.jpg`, `time`)
      div.mv_list-item.swiper-slide
        +img(`${_RESOURCES}assets/images/index/mv_4.jpg`, `time`)
      div.mv_list-item.swiper-slide
        +img(`${_RESOURCES}assets/images/index/mv_5.jpg`, `time`)

  main(role="main")
    div.t_wrapper.u_bg.indexSwayley.t_flex
      div.indexSwayley_view.t_flex
        div.indexSwayley_title
          h2.indexSwayley_title-jp.u_letter-spacing200.u_weight600 時を超えるひととき
          p.indexSwayley_title-en.t_Roboto.u_weight100.u_letter-spacing50 Timeless Moments
        p.indexSwayley_name.t_Roboto.u_letter-spacing200.u_weight600 TIME
      div.indexSwayley_scroll.t_flex
        p.indexSwayley_scroll-text.u_weight500.u_letter-spacing50.t_Roboto Scroll Down
        span.indexSwayley_scroll-line
    div.indexStory#Story
      div.p_background.t_wrapper.indexStory_wrapper
        div.p_background-wrapper
          h2.indexStory_title.t_RobotoSlab.u_letter-spacing100.u_weight100.u_anime-fadeUp(data-anime="addClass") Concept
          h3.indexStory_headline.u_letter-spacing200.u_anime-fadeUp.u_weight600(data-anime="addClass")
            span
              |半世紀の時を感じ、時を超える⾄福の時間の創造
          div.indexStory_text.u_lineHeightLarge.u_letter-spacing150.u_anime-fadeUp(data-anime="addClass")
            | ファニチャーブランド『TIME-タイム-』は、
            br
            | 20世紀半ば（1940〜60年代）の、いわゆるミッドセンチュリーのデザインを踏襲し、
            br
            | 現代の製産技術で耐久性をもたせ、⻑い時間、何世代にも渡り楽しんでいただける、
            br
            | 時間軸デザイン（タイムアクシス・デザイン）の家具をご提案いたします。
    div.indexOffer
      div.indexOffer_images
        +img(`${_RESOURCES}assets/images/index/img_story_1.jpg`, `Story01`)
      div.p_background.t_wrapper.indexOffer_wrapper
        div.indexOffer_view.t_flex.p_background-wrapper
          div.indexOffer_contents
            h2.p_title.t_flex.u_letter-spacing50.u_anime-fadeUp(data-anime="addClass")
              span.p_title-name.u_weight600.t_Roboto TIME
              span.p_title-number.u_weight500.t_RobotoSlab Concept : 01
            section.p_section
              h3.p_section-title.u_lineHeight.u_letter-spacing150.u_weight600.u_anime-fadeUp(data-anime="addClass")
                | 時を感じる
                br
                | ミッドセンチュリーデザイン
              div.p_section-contents.u_lineHeight.u_anime-fadeUp(data-anime="addClass")
                p
                  | 『TIME』は20世紀半ば（1940〜60年代）、ミッドセンチュリーを感じさせるデザインブランドです。どこか懐かしく、あたたかさを感じる⾼級感。⽊の上質感。ツヤ感を表現し、幅広い世代に親しんでいただけるような設計です。
                  br
                  | ⾊や縫製などに⾄るまでこだわり、どの空間のインテリアにもあう、ビンテージでシンプルな飽きのこないデザインを⽬指しました。
    div.indexShape
      div.indexShape_body
        div.indexShape_images.t_flex
          div.indexShape_images-sub.u_anime-fadeUp(data-anime="addClass")
            +img(`${_RESOURCES}assets/images/index/img_story_2_sub_a.jpg`, `Story02`)
          div.indexShape_images-main.u_anime-fadeUp(data-anime="addClass")
            +img(`${_RESOURCES}assets/images/index/img_story_2.jpg`, `Story02`)
        div.p_background.t_wrapper.indexShape_wrapper
          div.indexShape_view.t_flex.p_background-wrapper
            div.indexShape_contents
              h2.p_title.t_flex.u_letter-spacing50.u_anime-fadeUp(data-anime="addClass")
                span.p_title-name.u_weight600.t_Roboto TIME
                span.p_title-number.u_weight500.t_RobotoSlab Concept : 02
              section.p_section
                h3.p_section-title.u_lineHeight.u_letter-spacing150.u_weight600.u_anime-fadeUp(data-anime="addClass")
                  | 時を超える
                  br
                  | ロングライフなデザイン
                div.p_section-contents.u_lineHeight.u_anime-fadeUp(data-anime="addClass")
                  p
                    | 『TIME』は何世代にも⻑期間に渡り、愛着をもって使⽤いただけるよう、三重県のウレタン⼯場の最⾼品質のウレタン技術を使⽤しています。
                    br
                    | グラつきがない重厚感ある『安定性』。くつろぎの時間を演出する『クッション性』。そして、⻑い間ヘタレがないウレタンと⽣地の『耐久性』。シンプルなデザインの中に様々な性能をもたせました。
                    br
                    | ユーザーと製品の間の『時間』を⼤切なものにし、現代の使い捨て社会にはない、未来をつくっていきましょう。

    div.indexSlider
      div.indexSlider_wrapper.t_wrapper(data-slider="gallery")
        div.indexSlider_gallery.swiper-wrapper
          div.indexSlider_gallery-list.swiper-slide
            +img(`${_RESOURCES}assets/images/index/img_slider_1.jpg`, `time`)
          div.indexSlider_gallery-list.swiper-slide
            +img(`${_RESOURCES}assets/images/index/img_slider_2.jpg`, `time`)
          div.indexSlider_gallery-list.swiper-slide
            +img(`${_RESOURCES}assets/images/index/img_slider_3.jpg`, `time`)
          div.indexSlider_gallery-list.swiper-slide
            +img(`${_RESOURCES}assets/images/index/img_slider_4.jpg`, `time`)
          div.indexSlider_gallery-list.swiper-slide
            +img(`${_RESOURCES}assets/images/index/img_slider_5.jpg`, `time`)

    div.p_lineup#Lineup
      div.t_wrapper
        h2.p_title.t_flex.u_letter-spacing50.p_title__top.u_anime-fadeUp(data-anime="addClass")
          span.p_title-name.p_title-name__large.u_weight500.t_RobotoSlab Products
          span.p_title-number.u_weight500.t_RobotoSlab 8 SERIES
        h3.p_headline.u_weight600.u_letter-spacing150.u_lineHeight.u_anime-fadeUp(data-anime="addClass")
          span 製品紹介
        p.u_letter-spacing100.t_RobotoSlab.u_weight500.p_productsTitle SOFA
        ul.p_gui.t_flex.t_Roboto(data-tab-target="products")
          li.p_gui-list.__isActive
            button(type="button").u_letter-spacing50.u_weight600
              span 3 seat sofa
          li.p_gui-list
            button(type="button").u_letter-spacing50.u_weight600
              span 2 seat sofa
          li.p_gui-list
            button(type="button").u_letter-spacing50.u_weight600
              span 1 seat sofa
          li.p_gui-list
            button(type="button").u_letter-spacing50.u_weight600
              span ottoman

      div.p_lineup-contets
        div.p_swichi(data-tab-contents="products")
          //3 seat sofa
          div.p_swichi-list
            section.p_subject
              div.t_inner
                h3.p_subject-title.u_weight600.u_letter-spacing100.t_Roboto 3 seat sofa
                div.p_subject-view.u_letter-spacing50.u_lineHeight
                  p
                    | 子供から大人まで、背丈に関係なく誰もがしっかりと座ることのできるスタンダードでちょうど良いサイズです。座面の幅は1680mmのコンパクトな3人掛けのソファ。
              div.p_slider
                div.p_slider-wrapper
                  div.p_slider-contets.t_inner.swiper-container(data-slider="lineup")
                    div.swiper-wrapper.p_slider-list
                      //スライド1
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_a_list_1.jpg`, `BEIGE`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 BEIGE
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 ベージュ
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_a_thumbnail_1.jpg`, `BEIGE`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | すこし黄みがかったナチュラルな色合い。
                              br
                              | 他の家具と調和しつつ、落ち着いたやさしい雰囲気に。


                      //スライド2
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_a_list_2.jpg`, `BEIGE`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 BEIGE
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 ベージュ
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_a_thumbnail_2.jpg`, `BEIGE`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | すこし黄みがかったナチュラルな色合い。
                              br
                              | 他の家具と調和しつつ、落ち着いたやさしい雰囲気に。


                      //スライド3
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_a_list_3.jpg`, `BEIGE`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 BEIGE
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 ベージュ
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_a_thumbnail_3.jpg`, `BEIGE`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | すこし黄みがかったナチュラルな色合い。
                              br
                              | 他の家具と調和しつつ、落ち着いたやさしい雰囲気に。


                    div.p_slider-option.t_flex
                      button(type="button" aria-label="戻る" data-slider-button="lineup-button-prev").p_slider-option-arrow.p_slider-option-arrow__prev
                        i.icon-arrow_left
                      div.p_slider-option-number.t_flex.t_Roboto.u_letter-spacing100(data-slider-pagination="lineup-pagination")
                      button(type="button" aria-label="進む" data-slider-button="lineup-button-next").p_slider-option-arrow.p_slider-option-arrow__next
                        i.icon-arrow_right

              div.p_spec
                div.t_wrapper.p_spec-wrapper.t_inner
                  p.p_spec-title.u_weight600.u_letter-spacing100.t_Roboto SPEC
                  ul.p_spec-item.u_lineHeight
                    li.p_spec-item-list
                      dl.t_flex
                        dt.u_letter-spacing50.u_weight500 Sofa
                        dd.u_letter-spacing50
                          | W1680×D700×H700 SH410mm
                          br
                          | 脚部：北海道産ミズナラ三等材無垢／オイル塗装
                          br
                          small ※肘パーツはオプション設定
                    li.p_spec-item-list
                      dl.t_flex
                        dt.u_letter-spacing50.u_weight500 fabric
                        dd.u_letter-spacing50 アクリル42%、ポリエステル39%、コットン19%（リサイクル糸47%）

            a.p_otherItem(href="#Lineup")
              span.p_otherItem-icon.t_flex
                i.icon-arrow_dawn
              span.p_otherItem-text.u_letter-spacing50 他のアイテムを見る

          //2 seat sofa
          div.p_swichi-list
            section.p_subject
              div.t_inner
                h3.p_subject-title.u_weight600.u_letter-spacing100.t_Roboto 2 seat sofa
                div.p_subject-view.u_letter-spacing50.u_lineHeight
                  p
                    | スタンダードな2人掛けのソファです。座り心地に優れ、ゆっくりとくつろぐことができます。
              div.p_slider
                div.p_slider-wrapper
                  div.p_slider-contets.t_inner.swiper-container(data-slider="lineup")
                    div.swiper-wrapper.p_slider-list
                      //スライド1
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_b_list_1.jpg`, `GREEN`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 GREEN
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 グリーン
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_b_thumbnail_1.jpg`, `GREEN`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | ヴィンテージな品のある色合いのグリーン。
                              br
                              | お部屋に映える印象的でハイセンスなワンポイントアイテムに。


                      //スライド2
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_b_list_3.jpg`, `GREEN`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 GREEN
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 グリーン
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_b_thumbnail_3.jpg`, `GREEN`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | ヴィンテージな品のある色合いのグリーン。
                              br
                              | お部屋に映える印象的でハイセンスなワンポイントアイテムに。


                      //スライド3
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_b_list_3.jpg`, `GREEN`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 GREEN
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 グリーン
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_b_thumbnail_3.jpg`, `BEIGE`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | ヴィンテージな品のある色合いのグリーン。
                              br
                              | お部屋に映える印象的でハイセンスなワンポイントアイテムに。


                    div.p_slider-option.t_flex
                      button(type="button" aria-label="戻る" data-slider-button="lineup-button-prev").p_slider-option-arrow.p_slider-option-arrow__prev
                        i.icon-arrow_left
                      div.p_slider-option-number.t_flex.t_Roboto.u_letter-spacing100(data-slider-pagination="lineup-pagination")
                      button(type="button" aria-label="進む" data-slider-button="lineup-button-next").p_slider-option-arrow.p_slider-option-arrow__next
                        i.icon-arrow_right

              div.p_spec
                div.t_wrapper.p_spec-wrapper.t_inner
                  p.p_spec-title.u_weight600.u_letter-spacing100.t_Roboto SPEC
                  ul.p_spec-item.u_lineHeight
                    li.p_spec-item-list
                      dl.t_flex
                        dt.u_letter-spacing50.u_weight500 Sofa
                        dd.u_letter-spacing50
                          | W1380×D700×H700 SH410mm
                          br
                          | 脚部：北海道産ミズナラ三等材無垢／オイル塗装
                          br
                          small ※肘パーツはオプション設定
                    li.p_spec-item-list
                      dl.t_flex
                        dt.u_letter-spacing50.u_weight500 fabric
                        dd.u_letter-spacing50 アクリル42%、ポリエステル39%、コットン19%（リサイクル糸47%）

            a.p_otherItem(href="#Lineup")
              span.p_otherItem-icon.t_flex
                i.icon-arrow_dawn
              span.p_otherItem-text.u_letter-spacing50 他のアイテムを見る



          //1 seat sofa
          div.p_swichi-list
            section.p_subject
              div.t_inner
                h3.p_subject-title.u_weight600.u_letter-spacing100.t_Roboto 1 seat sofa
                div.p_subject-view.u_letter-spacing50.u_lineHeight
                  p
                    | 1人掛けですが窮屈にならないよう1.5人掛けの幅で設計しました。大人の方でもゆったりとくつろげるサイズです。
              div.p_slider
                div.p_slider-wrapper
                  div.p_slider-contets.t_inner.swiper-container(data-slider="lineup")
                    div.swiper-wrapper.p_slider-list
                      //スライド1
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_c_list_1.jpg`, `blue`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 BLUE
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 ブルー
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_c_thumbnail_1.jpg`, `BLUE`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | ブルーデニムのヴィンテージなインディゴの色合い。
                              br
                              | 懐かしい表情とモダンでレトロな演出で、リビングの主役に。


                      //スライド2
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_c_list_2.jpg`, `BLUE`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 BLUE
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 ブルー
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_b_thumbnail_2.jpg`, `BLUE`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | ブルーデニムのヴィンテージなインディゴの色合い。
                              br
                              | 懐かしい表情とモダンでレトロな演出で、リビングの主役に。


                      //スライド3
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_c_list_3.jpg`, `BLUE`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 BLUE
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 ブルー
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_c_thumbnail_3.jpg`, `ブルー`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | ブルーデニムのヴィンテージなインディゴの色合い。
                              br
                              | 懐かしい表情とモダンでレトロな演出で、リビングの主役に。


                    div.p_slider-option.t_flex
                      button(type="button" aria-label="戻る" data-slider-button="lineup-button-prev").p_slider-option-arrow.p_slider-option-arrow__prev
                        i.icon-arrow_left
                      div.p_slider-option-number.t_flex.t_Roboto.u_letter-spacing100(data-slider-pagination="lineup-pagination")
                      button(type="button" aria-label="進む" data-slider-button="lineup-button-next").p_slider-option-arrow.p_slider-option-arrow__next
                        i.icon-arrow_right

              div.p_spec
                div.t_wrapper.p_spec-wrapper.t_inner
                  p.p_spec-title.u_weight600.u_letter-spacing100.t_Roboto SPEC
                  ul.p_spec-item.u_lineHeight
                    li.p_spec-item-list
                      dl.t_flex
                        dt.u_letter-spacing50.u_weight500 Sofa
                        dd.u_letter-spacing50
                          | W1380×D700×H700 SH410mm
                          br
                          | 脚部：北海道産ミズナラ三等材無垢／オイル塗装
                          br
                          small ※肘パーツはオプション設定
                    li.p_spec-item-list
                      dl.t_flex
                        dt.u_letter-spacing50.u_weight500 fabric
                        dd.u_letter-spacing50 アクリル42%、ポリエステル39%、コットン19%（リサイクル糸47%）

            a.p_otherItem(href="#Lineup")
              span.p_otherItem-icon.t_flex
                i.icon-arrow_dawn
              span.p_otherItem-text.u_letter-spacing50 他のアイテムを見る




          //Ottoman
          div.p_swichi-list
            section.p_subject
              div.t_inner
                h3.p_subject-title.u_weight600.u_letter-spacing100.t_Roboto Ottoman
                div.p_subject-view.u_letter-spacing50.u_lineHeight
                  p
                    | 一人で座る場合は、1seat SOFAとセットで足を投げ出したり、来客で椅子が必要になった場面でも活躍してくれます。
              div.p_slider
                div.p_slider-wrapper
                  div.p_slider-contets.t_inner.swiper-container(data-slider="lineup")
                    div.swiper-wrapper.p_slider-list
                      //スライド1
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_d_list_1.jpg`, `BLUE`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 BLUE
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 ブルー
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_d_thumbnail_1.jpg`, `BLUE`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | すこし黄みがかったナチュラルな色合い。
                              br
                              | 他の家具と調和しつつ、落ち着いたやさしい雰囲気に。


                      //スライド2
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_d_list_2.jpg`, `BLUE`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 BLUE
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 ブルー
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_b_thumbnail_3.jpg`, `BLUE`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | すこし黄みがかったナチュラルな色合い。
                              br
                              | 他の家具と調和しつつ、落ち着いたやさしい雰囲気に。


                      //スライド3
                      div.swiper-slide.p_slider-list-item
                        div.p_slider-list-item-imgaes
                          +img(`${_RESOURCES}assets/images/index/img_slider_d_list_3.jpg`, `BLUE`)
                        div.p_slider-list-item-view.t_flex
                          div.p_slider-list-item-view-header
                            div.p_slider-list-item-view-header-title
                              p.p_slider-list-item-view-header-title-en.t_Roboto.u_letter-spacing100.u_weight600 BLUE
                              p.p_slider-list-item-view-header-title-jp.t_Roboto.u_letter-spacing50.u_weight400 ブルー
                            div.p_slider-list-item-view-header-thumbnail
                              +img(`${_RESOURCES}assets/images/index/img_slider_d_thumbnail_3.jpg`, `ブルー`)
                          div.p_slider-list-item-view-text.u_lineHeight.u_letter-spacing50
                            p
                              | すこし黄みがかったナチュラルな色合い。
                              br
                              | 他の家具と調和しつつ、落ち着いたやさしい雰囲気に。


                    div.p_slider-option.t_flex
                      button(type="button" aria-label="戻る" data-slider-button="lineup-button-prev").p_slider-option-arrow.p_slider-option-arrow__prev
                        i.icon-arrow_left
                      div.p_slider-option-number.t_flex.t_Roboto.u_letter-spacing100(data-slider-pagination="lineup-pagination")
                      button(type="button" aria-label="進む" data-slider-button="lineup-button-next").p_slider-option-arrow.p_slider-option-arrow__next
                        i.icon-arrow_right

              div.p_spec
                div.t_wrapper.p_spec-wrapper.t_inner
                  p.p_spec-title.u_weight600.u_letter-spacing100.t_Roboto SPEC
                  ul.p_spec-item.u_lineHeight
                    li.p_spec-item-list
                      dl.t_flex
                        dt.u_letter-spacing50.u_weight500 Sofa
                        dd.u_letter-spacing50
                          | W1380×D700×H700 SH410mm
                          br
                          | 脚部：北海道産ミズナラ三等材無垢／オイル塗装
                          br
                          small ※肘パーツはオプション設定
                    li.p_spec-item-list
                      dl.t_flex
                        dt.u_letter-spacing50.u_weight500 fabric
                        dd.u_letter-spacing50 アクリル42%、ポリエステル39%、コットン19%（リサイクル糸47%）

            a.p_otherItem(href="#Lineup")
              span.p_otherItem-icon.t_flex
                i.icon-arrow_dawn
              span.p_otherItem-text.u_letter-spacing50 他のアイテムを見る



    div.p_lineup#Shop
      div.t_wrapper
        p.u_letter-spacing100.t_RobotoSlab.u_weight500.p_productsTitle INTERIOR
        ul.p_gui.t_flex.t_Roboto(data-tab-target="item")
          li.p_gui-list.__isActive
            button(type="button").u_letter-spacing50.u_weight400
              span SOFA TABLE
          li.p_gui-list
            button(type="button").u_letter-spacing50.u_weight400
              span CUSHION
      div.p_swichi.p_lineup-contets(data-tab-contents="item")
        //SOFA TABLE
        div.p_swichi-list
          section.p_subject
            div.t_inner
              h3.p_subject-title.u_weight400.u_letter-spacing100 SOFA TABLE
              div.p_subject-view.u_letter-spacing50.u_lineHeight
                p
                  |北海道の択伐されたサステナブルな楢材を敢えて使用しています。自然が生み出した表情のある木目をお楽しみいただけます。
          div.p_thumbnailTabs
            div.t_inner.p_thumbnailTabs-body
              ul.p_thumbnailTabs-list(data-tab-target="item-sub")
                li.p_thumbnailTabs-list-item.__isActive
                  button(type="button" aria-label="単品写真")
                    +img(`${_RESOURCES}assets/images/index/img_sofa_table_list_1.jpg`, `SOFA TABLE`)
                li.p_thumbnailTabs-list-item
                  button(type="button" aria-label="ヨリ1")
                    +img(`${_RESOURCES}assets/images/index/img_sofa_table_list_2.jpg`, `SOFA TABLE`)
                li.p_thumbnailTabs-list-item
                  button(type="button" aria-label="ヨリ2")
                    +img(`${_RESOURCES}assets/images/index/img_sofa_table_list_3.jpg`, `SOFA TABLE`)

              div.p_thumbnailTabs-contents(data-tab-contents="item-sub")
                div.p_thumbnailTabs-images
                  +img(`${_RESOURCES}assets/images/index/img_sofa_table_list_1.jpg`, `SOFA TABLE`)
                div.p_thumbnailTabs-images
                  +img(`${_RESOURCES}assets/images/index/img_sofa_table_list_2.jpg`, `SOFA TABLE`)
                div.p_thumbnailTabs-images
                  +img(`${_RESOURCES}assets/images/index/img_sofa_table_list_3.jpg`, `SOFA TABLE`)
          div.p_spec
            div.t_wrapper.p_spec-wrapper.t_inner
              p.p_spec-title.u_weight400.u_letter-spacing100.t_Roboto SPEC
              ul.p_spec-item
                li.p_spec-item-list
                    p.u_letter-spacing50 W620×D620×H40

      a.p_otherItem(href="#Shop")
        span.p_otherItem-icon.t_flex
          i.icon-arrow_dawn
        span.p_otherItem-text.u_letter-spacing50 他のアイテムを見る

    div.indexInnovation#Innovation
      div.t_wrapper
        h2.p_title.t_flex.u_letter-spacing50.t_Roboto.p_title__top.u_anime-fadeUp(data-anime="addClass")
          span.p_title-name.p_title-name__large.u_weight400 Innovation
          span.p_title-number.u_weight100 5 revolutions
        h3.p_headline.u_weight400.u_letter-spacing150.u_lineHeight.u_anime-fadeUp(data-anime="addClass")
          span
            | SWAYLAYソファに秘められた
            br.u_md
            | 「５つの⾰命」
        ul.p_tabs.t_flex.u_weight400.u_anime-fadeUp(data-tab-target="innovation" data-anime="addClass")
          li.p_tabs-list.__isActive
            button(type="button") 理想の座り心地
          li.p_tabs-list
            button(type="button") 驚きの軽さ
          li.p_tabs-list
            button(type="button") 上質なデザイン
          li.p_tabs-list
            button(type="button")
              | イージーケアな
              br.u_md
              | 生地
          li.p_tabs-list
            button(type="button") ヘタりにくい





        div.p_swichi(data-tab-contents="innovation")
          div.p_swichi-list
            section.p_innovation.t_flex
              div.p_innovation-header.t_flex
                div.p_innovation-header-name.u_anime-fadeUp(data-anime="addClass")
                  span.p_innovation-header-name-text.u_vertical.u_letter-spacing100.t_Roboto.u_weight200 Innovation
                  span.p_innovation-header-name-number.t_Roboto 1
                h2.u_weight400.u_vertical.p_innovation-header-title.u_letter-spacing150.u_anime-fadeUp(data-anime="addClass")
                  | 『ちょっと座ってみて』と
                  br.u_md
                  | 勧めたくなる最高の座り心地
              div.p_innovation-contents
                div.p_innovation-contents-images
                  figure.u_anime-fadeUp(data-anime="addClass")
                    +img(`${_RESOURCES}assets/images/index/img_innovation_list_1.jpg`, `『ちょっと座ってみて』と勧めたくなる最高の座り心地`)
                  div.p_innovation-contents-images-bubble
                    div.p_innovation-contents-images-bubble-in
                      +img(`${_RESOURCES}assets/images/index/bubble.svg`, `bubble`)
                      p.u_weight500.u_letter-spacing50.t_center.u_lineHeight
                        | ちょっと
                        br
                        | 座ってみて
                div.p_definition.u_anime-fadeUp(data-anime="addClass")
                  dl
                    dt.t_flex
                      i.icon-arrow_right
                      p.u_weight400.u_letter-spacing150
                        | 最上級のウレタンで実現した
                        br.u_md
                        | 理想の座り心地
                    dd.u_lineHeight
                      | 2種類の最上級ウレタンを組み合わせ、理想的な体圧分散を実現。Swayleyソファは、有名ブランドの最高級ソファにも用いられる最上級品質のウレタン２種をふんだんに使用しています。
                  dl
                    dt.t_flex
                      i.icon-arrow_right
                      p.u_weight400.u_letter-spacing150
                        | 自宅でも、オフィスでも
                    dd.u_lineHeight
                      | ご自宅ではくつろぐ時間を贅沢なものにしてくれるアイテムとして、オフィスの応接室などでは、お客さまをもてなす最上級のアイテムとして、最上級品質のウレタンが実現する理想の座り心地を、ぜひ直接体験してみてください。

          div.p_swichi-list
            section.p_innovation.t_flex
              div.p_innovation-header.t_flex
                div.p_innovation-header-name.u_anime-fadeUp(data-anime="addClass")
                  span.p_innovation-header-name-text.u_vertical.u_letter-spacing100.t_Roboto.u_weight200 Innovation
                  span.p_innovation-header-name-number.t_Roboto 2
                h2.u_weight400.u_vertical.p_innovation-header-title.u_letter-spacing150
                  | 『ちょっと持ってみて』と
                  br.u_md
                  | 促したくなる、驚くほどの軽さ
              div.p_innovation-contents
                div.p_innovation-contents-images.u_anime-fadeUp(data-anime="addClass")
                  figure
                    +img(`${_RESOURCES}assets/images/index/img_innovation_list_2.jpg`, `『ちょっと持ってみて』と促したくなる、驚くほどの軽さ`)
                  div.p_innovation-contents-images-bubble
                    div.p_innovation-contents-images-bubble-in
                      +img(`${_RESOURCES}assets/images/index/bubble.svg`, `bubble`)
                      p.u_weight500.u_letter-spacing50.t_center.u_lineHeight
                        | ちょっと
                        br
                        | 持ってみて
                div.p_definition.u_anime-fadeUp(data-anime="addClass")
                  dl
                    dt.t_flex
                      i.icon-arrow_right
                      p.u_weight400.u_letter-spacing150
                        | 強化段ボールを使用したフレームで軽くて丈夫
                    dd.u_lineHeight
                      | Swayleyソファは、昨年開催された東京オリンピックでも話題となった強化ダンボールをフレームとして使っています。強化ダンボールの特長は、何よりもその強度と軽さです。従来の木材にまったく劣らない強度をもちながら、とても軽量なため女性やお子さまでもカンタンに持ち運びが可能です。面倒だったソファの下のお掃除も、気分しだいの模様替えも、Swayleyソファなら自由自在。木材やバネを使ったソファと違い、きしみ音がほとんど起こらないのも強化ダンボールのメリットです。

          div.p_swichi-list
            section.p_innovation.t_flex
              div.p_innovation-header.t_flex
                div.p_innovation-header-name.u_anime-fadeUp(data-anime="addClass")
                  span.p_innovation-header-name-text.u_vertical.u_letter-spacing100.t_Roboto.u_weight200 Innovation
                  span.p_innovation-header-name-number.t_Roboto 3
                h2.u_weight400.u_vertical.p_innovation-header-title.u_letter-spacing150
                  | 『居心地いいでしょ』と
                  br.u_md
                  | 言いたくなる、高い質感・デザイン
              div.p_innovation-contents
                div.p_innovation-contents-images.u_anime-fadeUp(data-anime="addClass")
                  figure
                    +img(`${_RESOURCES}assets/images/index/img_innovation_list_3.jpg`, `『居心地いいでしょ』と言いたくなる、高い質感・デザイン`)
                  div.p_innovation-contents-images-bubble
                    div.p_innovation-contents-images-bubble-in
                      +img(`${_RESOURCES}assets/images/index/bubble.svg`, `bubble`)
                      p.u_weight500.u_letter-spacing50.t_center.u_lineHeight
                        | 居心地
                        br
                        | いいでしょ
                div.p_definition.u_anime-fadeUp(data-anime="addClass")
                  dl
                    dt.t_flex
                      i.icon-arrow_right
                      p.u_weight400.u_letter-spacing150
                        | 空間づくりが自在に楽しめる上質なデザイン
                    dd.u_lineHeight
                      | Swayleyソファは、レイアウトを自在にお楽しみいただくために、組み合わせ自由なモジュール型を採用しました。軽く持ち運びもしやすいので、その日の気分や空間の雰囲気に合わせて模様替えを手軽にお楽しみいただけます。シンプルかつ高級感のあるデザインを実現し、生地には心地よい手ざわりと見た目のエレガントさを両立した「アクアクリーン®︎」を採用。カラーは５色からお選びいただけます。ソファは使い捨てるものではなく、長くお使いいただくもの。だからこそ、くつろぎの時間を彩るアイテムとしての、日々の使い勝手を追求したい。

          div.p_swichi-list
            section.p_innovation.t_flex
              div.p_innovation-header.t_flex
                div.p_innovation-header-name
                  span.p_innovation-header-name-text.u_vertical.u_letter-spacing100.t_Roboto.u_weight200 Innovation
                  span.p_innovation-header-name-number.t_Roboto 4
                h2.u_weight400.u_vertical.p_innovation-header-title.u_letter-spacing150
                  | 『これは魔法？』と
                  br.u_md
                  | 驚くほど イージーケアな生地
              div.p_innovation-contents
                div.p_innovation-contents-images.u_anime-fadeUp(data-anime="addClass")
                  figure
                    +img(`${_RESOURCES}assets/images/index/img_innovation_list_4.jpg`, `『これは魔法？』と驚くほど イージーケアな生地`)
                  div.p_innovation-contents-images-bubble
                    div.p_innovation-contents-images-bubble-in
                      +img(`${_RESOURCES}assets/images/index/bubble.svg`, `bubble`)
                      p.u_weight500.u_letter-spacing50.t_center.u_lineHeight
                        | これは魔法？
                div.p_definition.u_anime-fadeUp(data-anime="addClass")
                  dl
                    dt.t_flex
                      i.icon-arrow_right
                      p.u_weight400.u_letter-spacing150
                        | きめ細やかな手触りとエレガントな質感「アクアクリーン®」
                    dd.u_lineHeight
                      | Swayleyソファは、ちょっとした汚れなら水拭きだけでキレイに落とせる生地、「アクアクリーン®」を採用。水拭きで落ちない汚れがついても、ソファのカバーリングはカンタンに着脱可能。取り外してご自宅でお洗濯できます。小さなお子さまがいらっしゃるご家庭や、大人数で集まって楽しむ空間でも、気兼ねなくお使いいただきたい。この想いから、高級感だけでなくお手入れのカンタンさも兼ね備えた、選りすぐりの生地を採用しました。「水拭きだけで、魔法みたいに汚れが落ちる」「さらに、ご自宅でも手軽にお洗濯できる」この驚きのイージーケア素材の性能を、ぜひその目でお確かめください。
                a.p_innovation-button.t_flex(target="_blank") 「アクアクリーン®」のメーカーサイトはコチラから
          div.p_swichi-list
            section.p_innovation.t_flex
              div.p_innovation-header.t_flex
                div.p_innovation-header-name
                  span.p_innovation-header-name-text.u_vertical.u_letter-spacing100.t_Roboto.u_weight200 Innovation
                  span.p_innovation-header-name-number.t_Roboto 5
                h2.u_weight400.u_vertical.p_innovation-header-title.u_letter-spacing150
                  | 『ヘタりにくいから長く使える』
                  br.u_md
                  | いつまでも最高の座り心地
              div.p_innovation-contents
                div.p_innovation-contents-images.u_anime-fadeUp(data-anime="addClass")
                  figure
                    +img(`${_RESOURCES}assets/images/index/img_innovation_list_5.jpg`, `『ヘタりにくいから長く使える』いつまでも最高の座り心地`)
                  div.p_innovation-contents-images-bubble
                    div.p_innovation-contents-images-bubble-in
                      +img(`${_RESOURCES}assets/images/index/bubble.svg`, `bubble`)
                      p.u_weight500.u_letter-spacing50.t_center.u_lineHeight
                        | 長く使える
                div.p_definition.u_anime-fadeUp(data-anime="addClass")
                  dl
                    dt.t_flex
                      i.icon-arrow_right
                      p.u_weight400.u_letter-spacing150
                        | ヘタりにくくいつまでも最上級の座り心地
                    dd.u_lineHeight
                      | Swayleyソファは、ただ座り心地がいいだけのソファではありません。ヘタりにくく、優れた座り心地がいつまでも続きます。ヘタったソファは底部のバネや木材のゴツゴツとした感触が気になり、心地よく座れなくなってしまいます。場合によっては、姿勢やカラダの歪みの原因となり、腰や背中を痛めてしまうおそれもあります。長く、安心して使い続けられるものをつくりたい。Swayleyソファは、ずっと続く最上級の座り心地で、いつまでも心地よい空間をご提供します。




    div.indexSupport#Support
      div.t_wrapper
        h2.p_title.t_flex.u_letter-spacing50.t_Roboto.p_title__top.u_anime-fadeUp(data-anime="addClass")
          span.p_title-name.p_title-name__large.u_weight400 Support
          span.p_title-number.u_weight100 To Customers
        h3.p_headline.u_weight400.u_letter-spacing150.u_lineHeight.u_anime-fadeUp(data-anime="addClass")
          span SWAYLAYソファを購⼊された⽅へ
        ul.p_gui.t_flex(data-tab-target="support")
          li.p_gui-list.__isActive
            button(type="button").u_letter-spacing50.u_weight400
              span 取り扱い上の注意
          li.p_gui-list
            button(type="button").u_letter-spacing50.u_weight400
              span お⼿⼊れのしかた
        div.p_swichi.indexSupport_contets(data-tab-contents="support")
          div.p_swichi-list
            div.indexSupport_text.u_lineHeight
              p
                | ◎本製品は ⽇本国内において設計、家庭⽤に規格された商品です。ご使⽤する際はお取り扱いに⼗分ご注意ください。業務⽤などでの使⽤については予め使⽤⽬的、条件などをご確認の上ご使⽤ください。
                br
                | ◎直射⽇光やストーブやエアコンなど電化製品の近くや⾼温・多湿の場所でのご使⽤は避けてください。⽕災や製品の変⾊・変形・破損等の原因になります。
                br
                | ◎湿度の⾼い場所や濡れた状態でのご使⽤は、カビ、におい等の発⽣の原因になります。⾵通しをよくしてご使⽤ください。
                br
                | ◎座⾯の上に⽴ったり、背もたれに乗ったり不安定な姿勢で使⽤しないでください。踏み台の代わりとして使⽤すると、⼤変危険です。転倒しケガや破損の恐れがあります。
                br
                | ◎移動の際は押したり引いたり引きずることで床に傷がついたり、脚部等が破損するおそれがあります。周りの安全を確認の上、本製品を必ず持ちあげて移動してください。
                br
                | ◎床⾯に対する保護はお客様の管理責任としてください。
                br
                | ◎本製品は平らな場所でご使⽤ください。傾斜、凹凸のある場所での使⽤は転倒しケガや破損の原因になります。
                br
                | ◎本製品はホルムアルデヒド等級の最上位規格を表す表⽰F☆☆☆☆基準にそってつくられていますが、 開梱後はしばらくの間梱包材に含まれる匂いなどが残っている場合がございます。換気をし、⾵通しの良い場所でご使⽤ください。
                br
                | ◎本製品の改造や不当な修理は絶対に⾏わないでください。

          div.p_swichi-list
            div.indexSupport_text.u_lineHeight
              p
                | ◎本製品のお⼿⼊れは、定期的に付着した埃などを取り払います。著しい汚れが付着した場合は、柔らかい布に中性洗剤を薄めた⽔を浸し、汚れを拭き取ったあと、乾いた布で拭き、⼗分に乾燥させてからご使⽤ください。濡れたまま使⽤するとカビの発⽣や、変形、変⾊等の原因になります。
                br
                | ◎本製品はカバーリング仕⽴てになっています。⽣活のスタイルに合わせて⽣地をご変更いただくことや、経年の変化に対し⽣地をご変更いただくことで⻑くご使⽤いただくこともできます。


    div.indexConversion.u_anime-fadeUp(data-anime="addClass")
      div.t_wrapper
        p.indexConversion_logo
          +img(`${_RESOURCES}assets/images/components/header/logo.svg`, `swayley`)
        p.indexConversion_text.u_letter-spacing150.u_weight400
          |お問い合わせは
          br.u_md
          |ご購⼊された店舗へお願いします。


  include /components/include/_movie
  include /components/include/_footer